.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  width: 35rem;
  height: 18rem;
  background-color: var(--color-bg-card);
  border-radius: var(--border-radius);
  overflow: hidden;
}

.card-text {
  text-align: center;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 0 1rem;
  max-width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
  white-space: normal;
}

.nav {
  margin: 0;
  display: flex;
  justify-content: space-between;
  margin-top: 0.4rem;
  background-color: var(--color-bg-nav);
  border-radius: calc(var(--border-radius) - 0.05rem);
}

.nav button {
  background: none;
  border: none;
  color: var(--color-text-white);
  font-size: 1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  transition: background-color 0.2s;
  flex: 1;
  justify-content: center;
}

.nav button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
}

.container {
  outline: 0.15rem solid var(--color-outline);
  border-radius: var(--border-radius);
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.progress-bar-container {
  position: relative;
  background-color: var(--color-progress-bg);
  height: 1.8rem;
  border-radius: var(--border-radius);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 0.6rem;
  color: var(--color-text-white);
  font-weight: bold;
  font-size: 0.9rem;
  gap: 0.5rem;
}

.progress-bar-fill {
  background-color: var(--color-progress-fill);
  height: 100%;
  border-radius: var(--border-radius);
  transition: width 0.3s ease-in-out;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}
.progress-text {
  position: relative;
  z-index: 1;
  margin-left: auto; /* empurra para a direita */
  white-space: nowrap;
}

.progress-percentage {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  color: var(--color-text-white);
  font-weight: bold;
  font-size: 0.9rem;
  z-index: 1;
  pointer-events: none;
  white-space: nowrap;
}

.progress-count {
  position: relative;
  z-index: 1;
  color: var(--color-text-white);
  font-weight: bold;
  font-size: 0.9rem;
  white-space: nowrap;
  margin-left: 0.6rem;
}
